<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/7.3/phpunit.xsd" colors="true"
    bootstrap="vendor/autoload.php">

    <php>
        <const name="PHP_CODESNIFFER_CBF" value="true"/>
    </php>

    <testsuites>
        <testsuite name="Libero Coding Standard">
            <directory suffix=".php">tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>Libero</directory>
        </whitelist>
    </filter>

</phpunit>
